{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
    <header></header>
    <article class="article-list">
        {% for article in articles_page.object_list %}
            <div>
                <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                <p> {{ article.summary }} </p>
                <p> Posted on: {{ article.date|strftime("%d %B %Y") }} </p>
            </div>
        {% endfor %}
    </article>
{% endblock %}
