{% extends "base.j2" %}
{% block body %}
                <div class="container-fluid">
                    <div class="span8">
                        <h3> Professional Life </h3>

                        I'm a software developer in Toronto, Ontario. I've worked for <a
                            href="http://rentrak.com">Rentrak Corporation</a> based out of Portland, Oregon
                        for for the past 4 years. I'm currently looking for work, with a preference for jobs
                        involving <a href="http://python.org">Python</a>, though I have extensive experience
                        with <a href="http://perl.org">Perl</a>. I've also done work in C, Java, Groovy, and
                        others.</p>

                        <p>I've mostly done full-stack web development, but I've also worked on old-school
                        terminal UI C apps, as well as legacy Java GUIs. I have experience working on a
                        year-long project integrating and/or reimplementing software/systems obtained during a
                        competitor buy-out (and learned a lot of logistical lessons along the way). I've
                        written software for the JVM (in <a href="http://groovy.codehaus.org/">Groovy</a>)
                        with an emphasis on multi-platform support for processing transations obtained from
                        POS software.</p>

                        <h3> Biography </h3>

                        <p>I was born in Dearborn, Michigan in April 1982. I grew up in the area, and
                        eventually graduated from the University of Michigan with a B.S. in Computer Science.
                        After graduation, I moved to Toronto, Ontario to be with my girlfriend (now wife),
                        Angela.</p>

                        <p>I took a job for <a href="http://rentrak.com">Rentrak Corp.</a> in August 2008
                        based on the recommendation of a friend from Michigan who was working there.  The
                        job was meant to be temporary, but my wife ended up moving out with me and we
                        were there for 3 years. While we were there, our daughter Amelie was born. Eventually,
                        we wanted to come back to Toronto, and I was able to convince them to allow me to work
                        remotely.</p>

                        <p> Though I don't have any awesome stories of hacking BASIC on a Commodore64 while
                        whistling 2600Hz tones into the phone to give Ma Bell the finger when I was in grade
                        school, I've been drawn to technology all of my life. I even attempted to break into
                        programming prior to high-school, but it wasn't until AP Computer Science class (in
                        grade 11) that I started in earnest.</p>

                    </div>
                    <div class="span4">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span6 right-align">Email:</div>
                                <div class="span6 left-align"><a href="mailto:brandon@sandrowicz.org">brandon@sandrowicz.org</a></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6 right-align">Chat:</div>
                                <div class="span6 left-align"><a href="gtalk:chat?jid=brandon@sandrowicz.org">GoogleTalk</a></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6 right-align">Github:</div>
                                <div class="span6 left-align"><a href="https://github.com/bsandrow">github.com/bsandrow</a></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6 right-align">Resume:</div>
                                <div class="span6 left-align">[ <a href="https://github.com/bsandrow/resume/raw/master/resume.pdf">pdf</a>, <a href="https://github.com/bsandrow/resume/raw/master/resume.txt">text</a>, <a href="https://github.com/bsandrow/resume">source</a> ]</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6 right-align">LinkedIn:</div>
                                <div class="span6 left-align"> <a href="http://www.linkedin.com/pub/brandon-sandrowicz/20/689/863">profile</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
