@text-color: rgb(77,77,77);
@link-color: rgb(0,0,0);
@menu-color: rgb(0,0,0);
@heading-color: rgb(0,0,0);

body {
    font-size: 1.125em;
    color: @text-color;
}

a {
    text-decoration: none;
    color: @link-color;
}

h1, h2, h3, h4, h5, h6 {
    color: @heading-color;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside {
    position: fixed;
    height: 100%;
    width: 25%;
    top: 0px;
    left: 0px;
    font-family: Arial, san-serif;

    #sidebar {
        max-width: 200px;
        text-align: left;
        padding: 40px;
    }

    h2 {
        margin: 15px 0px 5px;
        text-align: center;
    }

    p {
        font-size: 0.75em;
        margin: 0px 0px 15px;
    }

    ul {
        list-style: none;
        width: 100px;
        color: @menu-color;

        li:first-child {
            border-top: 0px;
        }

        li {
            border-top: solid @menu-color 1px;
            text-align: center;
            margin: 0px;
            padding: 3px 7px;
        }

        li.active {
            font-weight: bold;
        }
    }

}

main {
    width: 75%;
    left: 25%;
    top: 0px;
    position: absolute;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 0.90em;

    article {
        max-width: 640px;
        padding: 40px;
    }

    footer {
        font-size: 0.75em;
        padding: 0px 40px;
    }
}

.article-list {
    p {
        font-size: 0.80em;
    }

    h3 {
        font-size: 1.125em;
        border-bottom: solid black 1px;
    }
}

#social-widget .title {
    display: inline-block;
    text-align: right;
    width: 130px;
}
